div {
  border: 1px solid black;
  border-radius: 20px;
  max-width: 530px;
  margin: 0 auto;
  margin-top: 20px;
  background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
}
.h1 {
  text-align: center;
  font-weight: 500;
  font-family: sans-serif;
  font-size: 50px;
  margin-bottom: 35px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

h1 {
  font-weight: 100;
  font-family: sans-serif;
  font-size: 40px;
}
.icons {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}
strong {
  font-size: 30px;
  font-family: serif;
}
#time {
  text-align: center;
}
form {
  display: block;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}
p {
  font-family: sans-serif;
  font-weight: 300;
  text-align: center;
}
.mon {
  font-family: sans-serif;
  font-weight: 300;
}
#name {
  font-size: 25px;
  font-weight: 1000px;
  font-family: sans-serif;
}
.strong {
  font-size: 15px;
  font-weight: 300px;
  font-family: sans-serif;
}

.submit {
  margin-left: 10px;
  background-color: green;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  border: 1px solid black;
  transition: all 200ms ease-in;
}
.submit:hover {
  color: green;
  background: white;
}
#geo {
  margin-left: 10px;
  background-color: green;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  border: 1px solid black;
  transition: all 200ms ease-in;
}
#geo:hover {
  color: blue;
  background: white;
}
#text {
  height: 25px;
  border-radius: 5px;
  width: 240px;
  background-color: beige;
  border: 0px;
}
.time {
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
}
footer {
  text-align: center;
  font-weight: 400;
  font-family: sans-serif;
}
